.container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width:fit-content;
    margin: 50px auto;

}

.container button {
    width: 50px;
    background-color: #3698d6;
    border: none;
    border-radius: 5px;
    padding:5px 8px;
    color: #fff;
    cursor: pointer;
}

.container p {
    text-align: center;
    width: 35px;
    border: 1px solid #3698d6;
    padding:5px 8px;
    border-radius: 5px;
}